{% extends "network/layout.html" %}

{% block body %}


    {% if message %}
        <div class="alert alert-danger alert-dismissable">

            <button type="button" class="close" onclick="this.parentElement.remove()" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{message}}
        
        </div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h2>Register</h2>
        <div class="form-group">
            {{form}}
        </div>
        <div class="button">
            <input class="btn btn-primary" type="submit" value="Sign up">
        </div>
        <br>
        <p>Already have an account? <a href="{% url 'login' %}">Sign in.</a></p>
    </form>    

{% endblock %}